/* The point where the layout should change */
$medium: 770px;
$small: 420px;

$colors: (
    primary: #222222,
    primary-light: ligthen(#222222, 25%),
    secondary: #FFDF00,
    text: #ebebeb,
    text-dark: darken(#ebebeb, 25%)
);