@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&display=swap");
/* The point where the layout should change */
/* Desktops */
html {
  scroll-behavior: smooth;
}

html body {
  background-color: #141414;
  color: #dadada;
  /* Menu */
}

html body .main {
  padding: 0px 30px 0px 30px;
}

@media (min-width: 770px) {
  html body .main {
    padding: 0px 150px 0px 150px;
  }
}

html body .main .home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  min-height: 100vh;
}

html body .main .home h1 {
  color: #FFDF00;
  font-family: 'Inconsolata';
  font-weight: 500;
  font-size: 1.2rem;
}

html body .main .home h2 {
  color: #dadada;
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 3rem;
}

html body .main .home h2 span {
  color: #8e8e8e;
}

html body .main .home p {
  color: #8e8e8e;
  font-family: 'Raleway';
  font-weight: 400;
  font-size: 1.1rem;
  line-height: 1.6em;
  margin: 30px 0px 30px 0px;
}

html body .main .about {
  margin-bottom: 50px;
}

@media (min-width: 770px) {
  html body .main .about {
    padding-bottom: 100px;
  }
}

html body .main .about h1 {
  color: #FFDF00;
  font-family: 'Inconsolata';
  font-weight: 600;
  font-size: 1.2rem;
  margin-bottom: 40px;
}

html body .main .about h1:after {
  content: "";
  display: block;
  position: relative;
  top: -13px;
  max-width: 70%;
  height: 1px;
  margin-left: 155px;
  background-color: #414141;
}

@media (min-width: 770px) {
  html body .main .about h1:after {
    max-width: 90%;
  }
}

html body .main .about h1 span {
  color: #dadada;
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 1.4rem;
}

html body .main .about p {
  color: #8e8e8e;
}

html body .main .about ul {
  list-style-type: none;
  padding: 0px;
  margin-left: 30px;
}

html body .main .about ul li {
  font-family: 'Inconsolata';
  font-weight: 400;
  color: #FFDF00;
}

html body .main .about ul li:before {
  content: "▹";
  position: absolute;
  left: 0px;
  color: #FFDF00;
  line-height: 24px;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  padding-left: 5px;
  margin-left: 30px;
}

@media (min-width: 770px) {
  html body .main .about ul li:before {
    margin-left: 150px;
  }
}

@media (min-width: 770px) {
  html body .main .projects {
    margin-bottom: 100px;
  }
}

@media (min-width: 770px) {
  html body .main .projects .project-content {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
    -ms-grid-rows: auto auto;
        grid-template-rows: auto auto;
    grid-gap: 15px 15px;
  }
}

html body .main .projects .project-content a {
  border: none;
  padding: 0px;
}

html body .main .projects h1 {
  color: #FFDF00;
  font-family: 'Inconsolata';
  font-weight: 600;
  font-size: 1.2rem;
  margin-bottom: 40px;
}

html body .main .projects h1:after {
  content: "";
  display: block;
  position: relative;
  top: -13px;
  max-width: 70%;
  height: 1px;
  margin-left: 175px;
  background-color: #414141;
}

@media (min-width: 770px) {
  html body .main .projects h1:after {
    max-width: 90%;
  }
}

html body .main .projects h1 span {
  color: #dadada;
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 1.4rem;
}

html body .main .projects h2 {
  color: #FFDF00;
  font-family: 'Inconsolata';
  font-weight: 600;
  font-size: 1.2rem;
  margin: 15px 0px 5px 0px;
}

html body .main .projects p {
  color: #8e8e8e;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5em;
  margin: 0px 0px 50px 0px;
  max-width: 95%;
}

html body .main .projects .project-image {
  max-width: 95%;
  width: 565px;
  height: 318px;
  -webkit-transition: ease .7s;
  transition: ease .7s;
  cursor: pointer;
}

html body .main .projects .project-one {
  background: url("../img/screenshot1_dark.png") no-repeat;
  background-size: cover;
}

html body .main .projects .project-one:hover {
  background-image: url("../img/screenshot1.png");
  -webkit-transition: ease .7s;
  transition: ease .7s;
}

html body .main .projects .project-two {
  background: url("../img/screenshot2_dark.png") no-repeat;
  background-size: cover;
}

html body .main .projects .project-two:hover {
  background-image: url("../img/screenshot2.png");
  -webkit-transition: ease .7s;
  transition: ease .7s;
}

html body .main .projects .project-three {
  background: url("../img/screenshot3_dark.png") no-repeat;
  background-size: cover;
}

html body .main .projects .project-three:hover {
  background-image: url("../img/screenshot3.png");
  -webkit-transition: ease .7s;
  transition: ease .7s;
}

html body .main .projects .project-four {
  background: url("../img/screenshot4_dark.png") no-repeat;
  background-size: cover;
}

html body .main .projects .project-four:hover {
  background-image: url("../img/screenshot4.png");
  -webkit-transition: ease .7s;
  transition: ease .7s;
}

html body .main .projects ul {
  list-style-type: none;
  padding: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

html body .main .projects ul li {
  font-family: 'Inconsolata';
  font-weight: 700;
  font-size: .7rem;
  padding: 0px 7px 0px 7px;
  margin-right: 7px;
  background-color: #FFDF00;
  color: #141414;
}

@media (min-width: 770px) {
  html body .main .contact {
    margin-bottom: 145px;
  }
}

html body .main .contact h1 {
  color: #FFDF00;
  font-family: 'Inconsolata';
  font-weight: 600;
  font-size: 1.2rem;
  margin-bottom: 40px;
}

html body .main .contact h1:after {
  content: "";
  display: block;
  position: relative;
  top: -13px;
  max-width: 70%;
  height: 1px;
  margin-left: 165px;
  background-color: #414141;
}

@media (min-width: 770px) {
  html body .main .contact h1:after {
    max-width: 90%;
  }
}

html body .main .contact h1 span {
  color: #dadada;
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 1.4rem;
}

html body .main a {
  font-family: 'Inconsolata';
  color: #FFDF00;
  border: 1.5px solid #FFDF00;
  border-radius: 7px;
  font-weight: 500;
  background-color: transparent;
  padding: 8px 12px 8px 12px;
}

html body .main .footer {
  font-family: 'Inconsolata';
  color: #FFDF00;
  text-align: center;
  margin-top: 30px;
}

html body .main .footer p {
  margin-top: 100px;
}

@media (min-width: 770px) {
  html body .main .footer p {
    font-size: .85rem;
  }
}

html body .main .footer .social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 20px;
}

html body .main .footer .social-media a {
  border: none;
  padding: 0px;
}

html body .main .footer .social-media img {
  width: 2.5rem;
  margin-right: 15px;
}

@media (min-width: 770px) {
  html body .main .footer .social-media img {
    width: 2.1rem;
  }
}

html body a {
  color: #FFDF00 !important;
  font-family: 'Inconsolata';
  font-weight: 500;
}

html body a:hover {
  color: #FFDF00 !important;
}

html body a span {
  color: #dadada !important;
  font-family: 'Inconsolata';
  font-weight: 400;
}

html body a span:hover {
  color: #FFDF00 !important;
}

html body .navbar-toggler {
  border: none !important;
}
/*# sourceMappingURL=main.css.map */